[submodule "ThirdParty/CuteLogger/CuteLogger"]
	path = ThirdParty/CuteLogger/CuteLogger
	url = https://github.com/SunRain/CuteLogger.git
	branch = master
[submodule "ThirdParty/Taglib/src"]
	path = ThirdParty/Taglib/src
	url = https://github.com/SunRain/taglib.git
	branch = phoenixplayer
[submodule "ThirdParty/QCurl"]
	path = ThirdParty/QCurl
	url = https://github.com/SunRain/QCurl.git
