[submodule "libPhoenixPlayer/Core/3rdparty/CuteLogger"]
	path = libPhoenixPlayer/Core/3rdparty/CuteLogger
	url = https://github.com/SunRain/CuteLogger.git
[submodule "libPhoenixPlayer/Core/3rdparty/QCurl"]
	path = libPhoenixPlayer/Core/3rdparty/QCurl
	url = https://github.com/SunRain/QCurl.git
[submodule "Plugins/DataProvider/TagParserPro/Taglib/src"]
	path = Plugins/DataProvider/TagParserPro/Taglib/src
	url = https://github.com/SunRain/taglib.git
	branch = phoenixplayer
